@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
}

/* navbar */
nav {
  background-color: black;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

@media only screen and (max-width:480px) {
  :root {
    /* font-size: 1em; */
  }

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .25rem;
    gap: 0rem;
    list-style: none;
  }

  nav a {
    font-size: 3.5rem;
  }
}

/* navbar - links animations  */
#links li {
  opacity: 0;
  /* forwards -> keyword means that css the changes will remain after the effect ends */
  animation: slideME 2s cubic-bezier(.05, .8, .08, 1) forwards;
}

#links li:nth-child(1) {
  animation-delay: 100ms;
}

#links li:nth-child(2) {
  animation-delay: 1000ms;
}

#links li:nth-child(3) {
  animation-delay: 1500ms;
}

#links li:nth-child(4) {
  animation-delay: 2000ms;
}

@keyframes slideME {
  0% {
    transform: translateX(-2500px);
  }

  49% {
    transform: scale(2.5);
  }

  50% {
    transform: scale(2) translateX(30px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* on phones the links fall from the top */
@media only screen and (max-width:480px) {
  @keyframes slideME {
    0% {
      transform: translateY(-2500px);
    }

    49% {
      transform: scale(2.5);
    }

    50% {
      transform: scale(2) translateY(30px);
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* future potential updates --> look into hamburger icon that hides all links*/
}